* {
    background-color:black;
    color: beige;
    text-align: center;
}

.score-board {

}

img {
    border-radius: 50%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
  }

#game-result {
    color: greenyellow;
}

#user-score {
    text-align: center;
    
}

#computer-score {
    text-align: center;

}

/* #r {
    text-align: center;
} */



